.container{
    height: 88px;
    border-bottom: 2px solid #e6e6e6;
    font-size: 30px;
    color: #777;
    display:flex;
    justify-content: space-around;
    align-items: center;
    line-height: 86px;
}

.tu{
    display: block;
    width: 60px;
    height: 60px;
    margin-top:8px;
    margin-bottom: 0;
}

.bbb{
    font-weight: 900;
    color: #666;
    padding:0 12px;
    padding-bottom:  2px;
}