.am-tabs-tab-bar-wrap {
    border-top: 1px solid #d8d8d8;
}

.maintop{
    background: #e54847;
    border-bottom: 1px solid #e54847;
    padding: 20px;
    height: 121px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
}

.tupian{
    width: 100%;
    height: 100%;
}